.form {
  display: flex;
  align-items: center;
  width: 60%;

  input {
    outline: none;
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 1rem 0.5rem;
    width: 100%;
    transition: background 0.3s;

    &:focus {
      background: #f3f3f2;
    }
  }

  &__block {
    display: flex;
    align-items: center;
    width: 150px;
    margin-left: 1rem;
  }

  button {
    margin-left: 1rem;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 1rem;
    color: #fff;
    background: #ff8a5c;
    transition: transform 0.3s;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }

    &:disabled {
      background: #c7bfb6;
      transform: none;
    }
  }
}
