@import 'styles/variables';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;

  &__brand {
    @include transition(border-radius);

    border-radius: 50%;
    padding: 0.5rem;
    font-family: 'Lobster', cursive;
    font-size: 2rem;
    text-decoration: none;
    color: $whiteColor;
    background: $redColor;

    &:hover {
      border-radius: 10%;
    }
  }

  &__nav {
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .header {
    &__nav {
      display: none;
    }
  }
}
