@import 'styles/variables';

.notfound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  h1 {
    margin: 0;
    margin-bottom: 1rem;
    font-size: 5rem;
    text-align: center;
  }

  a {
    @include transition(transform);

    border-radius: 5px;
    padding: 1rem;
    font-size: 2rem;
    text-decoration: none;
    color: $whiteColor;
    background: $redColor;

    &:hover {
      @include transform(scale(1.1));
    }
  }
}
