.recipe {
  margin-bottom: 1rem;
  border-radius: 5px;
  padding: 1rem;
  background: #fff;

  i {
    margin: 0.3rem;
    font-size: 1.5rem;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 500px;
  }

  &__title {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    text-align: center;
    transition: color 0.3s;
    cursor: pointer;

    &:hover {
      color: #eb593c;
    }
  }

  &__image {
    height: 370px;

    img {
      display: block;
      border-radius: 5px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info {
    display: flex;
    margin-top: 1rem;

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 0.5rem;
    }
  }

  &__instructions {
    display: flex;
    margin: 1rem 0;
    font-size: 1.2rem;
  }
}
