@import 'styles/variables';

.sidedrawer {
  @include transition(transform);
  @include transform(translateX(100%));

  position: fixed;
  right: 0;
  top: 0;
  z-index: 500;
  width: 55%;
  min-height: 100vh;
  background: $redColor;

  &__nav {
    min-height: 100vh;

    ul {
      flex-direction: column;
      margin: 1rem;

      li {
        &:not(:last-child) {
          margin: 0;
          margin-bottom: 1rem;
        }
      }
    }
  }

  &_open {
    @include transform(translateX(0));
  }
}
